#bg-footer{
    background-color: $bgColorFooter;
    color: $textColorFooter;
    margin-top: -20vh;
    padding-top: 15vh;
}


.brdr{
    border-bottom: solid 1px gray;
}

.color-nav{
    color: $textColorFooter;
}

i{
    font-size: 25px;
}

ul li{
    list-style-type: none;
}


footer{
    div{
        padding-bottom: 1vh;
    }
}