#bg-footer{
    background-color: $bgColorFooter;
    color: $textColorFooter;
    margin-top: -20vh;
    padding-top: 15vh;
}

.linkColor{
    a{
        color: white;
    }
}

.navbar-toggler{
    color: white;
}

.brdr{
    border-bottom: solid 1px gray;
    margin-bottom: 2vh;
}

.color-nav{
    color: $textColorFooter;
}

i{
    font-size: 25px;
}

ul li{
    list-style-type: none;
}


footer{
    div{
        padding-bottom: 1vh;
    }
}